.gitignore
.idea
src/__pycache__
src/runs
src/checkpoints
res/.ipynb_checkpoints

# TensorBoard logs
runs/

# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/